html,body{
	width: 100%;
	height: 100%;
	margin: 0;
	padding: 0;
	outline: 0;
	font-family: "Open Sans", Arial, "sans-serif";
	color: #646464;
	background: #FFFFFF;
	line-height: 1.5;
	font-style: normal;
	font-weight: normal;
	font-variant: normal;
	text-decoration: none;
}
.mansetalti, .mansetalti a:link,  .mansetalti a:hover, .mansetalti a:active, .mansetalti a:visited{
	font-family: "Open Sans", Arial, "Helvetica Neue",Helvetica, "sans-serif";
	font-size: 14px;
	color: #FFFFFF;
	line-height: 1.5;
	font-style: normal;
	font-weight: normal;
	font-variant: normal;
	text-decoration: none;	
}

.anamenu a:link,  .anamenu a:hover, .anamenu a:active, .anamenu a:visited{
	font-family: "Open Sans", Arial, "Helvetica Neue",Helvetica, "sans-serif";
	font-size: 14px;
	color: black;
	line-height: 1.5;
	font-style: normal;
	font-weight: bold;
	font-variant: normal;
	text-decoration: none;	
}

.altmenu a:link, .altmenu a:hover, .altmenu a:active, .altmenu a:visited{
	text-decoration: none;
	color: black;
	font-family: "Open Sans", Arial, "Helvetica Neue",Helvetica, "sans-serif";
	font-size: 14px;
	line-height: 1.5;
	font-style: normal;
	font-weight: normal;
	font-variant: normal;
}
.sonucsayfalari a:link, .sonucsayfalari a:hover, .sonucsayfalari a:active, .sonucsayfalari a:visited{
	text-decoration: none;
	color: black;
	font-family: "Open Sans", Arial, "Helvetica Neue",Helvetica, "sans-serif";
	font-size: 14px;
	line-height: 1.5;
	font-style: normal;
	font-weight: normal;
	font-variant: normal;
}
.uyelikFormu a:link, .uyelikFormu a:hover, .uyelikFormu a:active, .uyelikFormu a:visited{
	text-decoration: none;
	color: black;
	font-family: "Open Sans", Arial, "Helvetica Neue",Helvetica, "sans-serif";
	font-size: 14px;
	line-height: 1.5;
	font-style: normal;
	font-weight: bold;
	font-variant: normal;
}
.acilirmenu a:link, .acilirmenu a:hover, .acilirmenu a:active, .acilirmenu a:visited{
	text-decoration: none;
	color: black;
	font-family: "Open Sans", Arial, "Helvetica Neue",Helvetica, "sans-serif";
	font-size: 14px;
	line-height: 1.5;
	font-style: normal;
	font-weight: bold;
	font-variant: normal;
}
.hesabimlink{
	text-decoration: none;
	color: black;
	font-family: "Open Sans", Arial, "Helvetica Neue",Helvetica, "sans-serif";
	font-size: 14px;
	line-height: 1.5;
	font-style: normal;
	font-variant: normal;
}
.sifremiunuttumformu a:link, .sifremiunuttumformu a:hover, .sifremiunuttumformu a:active, .sifremiunuttumformu a:visited{
	text-decoration: none;
	color: black;
	font-family: "Open Sans", Arial, "Helvetica Neue",Helvetica, "sans-serif";
	font-size: 14px;
	line-height: 1.5;
	font-style: normal;
	font-weight: normal;
	font-variant: normal;
	width: 90%;
}
.inputAlanlari{
	width: 90%;
	height: 40px;
	padding: 0px 10px;
}
.sifremiunuttumInputalanlari{
	width: 100%;
	height: 40px;
	padding: 0px 10px;
}
.selectAlanlari{
	padding: 0px 10px;
	width: 95%;
	height: 40px;
}
.textareaalanlari{
	padding: 0px 10px;
	width: 91%;
	height: 100px;	
}
.Yorumtextareaalanlari{
	padding: 0px 10px;
	width: 100%;
	height: 250px;	
}
.yesilbuton{
	height: 30px;
	color: white;
	background: #009900;
	border: 1px solid #00FF00;
	text-decoration: none;
}
.kargotakipinput{
	width: 75%;
	height: 35px;
	padding: 0px 10px;	
	text-align: center;
	font-weight: bold;
	font-size: 16px;
	text-decoration: none;
}
.kargotakipbutonu{
	height: 30px;
	color: white;
	background: #FF9900;
	border: 1px solid #CCCCCC;
	text-decoration: none;
}
.bilgilerimiguncellebutonu{
	height: 30px;

	padding: 5px 30px;
	color: white;
	background: #009900;
	border: 1px solid #00FF00;
	text-decoration: none;
}
.sorualani{
	width: 100%;
	height: 30px;
	padding-top: 10px;
	font-weight: bold;
	color: black;
	font-style: normal;
	font-variant: normal;
	line-height: 1.5;
	text-decoration: none;
	border-bottom: 1px solid #CCCCCC;
}
.sorualani:hover{
	cursor: pointer;
	background: #F1F1F1;
}
.cevapalani{
	width: 100%;
	margin-top: 10px;
	line-height: 1.5;
}
.sayfalamaalanikapsayici{
	display: block;
	width: 100%;
	height: auto;
	margin: 0;
	padding: 0;
	border: 0;
	outline: 0;
	text-align: center;
	text-decoration: none;
}
.metinalanikapsayici{
	display: block;
	width: 100%;
	height: auto;
	margin: 0;
	padding: 0;
	border: 0;
	outline: 0;
	text-align: center;
	text-decoration: none;
}
.numaraalanikapsayici{
	display: block;
	width: 100%;
	height: auto;
	margin: 0;
	padding: 0;
	border: 0;
	outline: 0;
	text-align: center;
	text-decoration: none;
}
.sayfalamaaktif{
	display:inline-block;
	width: auto;
	height: 20px;
	margin: 0px 0.5px;
	padding: 5px 7.5px;
	background: #F6F6F6;
	border: 1px solid #DADADA;
	outline: 0;
	color: #FF0000;
	font-weight: bold;
	text-align: center;
	text-decoration: none;
}
.sayfalamapasif{
	display:inline-block;
	width: auto;
	height: 20px;
	margin: 0px 0.5px;
	padding: 5px 7.5px;
	background: #F6F6F6;
	border: 1px solid #DADADA;
	outline: 0;
	color: #646464;
	font-weight: bold;
	text-align: center;
	text-decoration: none;
}
.sayfalamapasif a:link, .sayfalamapasif a:hover, .sayfalamapasif a:active, .sayfalamapasif a:visited{
	color: #646464;
	text-decoration: none;
}
.aramaalani{
	display: block;
	width: 100%;
	height:35px;
	margin: 0;
	padding: 0;
	overflow: hidden;
	border: 0;
	outline: 0;
	vertical-align: top;

}
.aramaalanibuton{
	display: inline-block;
	float: right;
	width: 60px;
	height: 35px;
	margin: 0;
	padding: 0;
	overflow: hidden;
	border: 0;
	outline: 0;
	text-align: left;
}
.aramaalaniinput{
	display: inline-block;
	float: right;
	width: -webkit-calc(100%-60px);
	width: -moz-calc(100%-60px);
	width: -o-calc(100%-60px);
	width: -ms-calc(100%-60px);
	width: calc(100%-60px);
	height: 35px;
	margin: 0;
	padding: 0;
	overflow: hidden;
	border: 0;
	outline: 0;
	text-align: left;
}
.aramabutonu{
	display: block;
	float: right;
	width: 60px;
	height: 35px;
	margin: 0;
	padding: 0;
	background: url(../Resimler/AraButonuIciBuyuteci.png);
	background-repeat: no-repeat;
	background-position: center left 19px;
	border: 1px solid #646464;
	outline: 0;
	text-align: left;
}
.aramabutonu:hover{
	cursor: pointer;
}
.aramainput{
	display: block;
	float: left;
	width: -webkit-calc(100%-42px);
	width: -moz-calc(100%-42px);
	width: -o-calc(100%-42px);
	width: -ms-calc(100%-42px);
	width: calc(100%-42px);
	height: 33px;
	margin: 0;
	padding: 0;
	padding-left: 30px;
	padding-right: 10px;
	background: url(../Resimler/AramaTextInputuIciSoruIsareti.png);
	background-repeat: no-repeat;
	background-position: center left 10px;
	border: 1px solid #646464;
	outline: 0;
	text-align: left;
}
.sepeteeklebutonu{
	width: 200px;
	height: 35px;
	margin: 0;
	padding: 5px 0px;
	background-color: #d53e07;
	border: solid 1px #f13a13;
	color: #FFFFFF;
	outline: none;
	font-weight: bold;
	text-align: center;
}
.sepeteeklebutonu:hover{ 
	width: 200px;
	height: 35px;
	margin: 0;
	padding: 5px 0px;
	background-color: #f13a13;
	border: solid 1px #d53e07;
	border: 0;
	color: #FFFFFF;
	outline: none;
	font-weight: bold;
	text-align: center;
	cursor: pointer;
}
.sepeticidevametvealisverisitamamlabutonu{
	width: 100%;
	height: 35px;
	margin : 0;
	padding: 5px 0px 5px 0px;
	background: #FF9900;
	color: white;
	border: 1px solid #f5770a;
	outline: none;
	text-align: center;
	font-size: 18px;
	font-weight: bold;
	text-decoration: none;
	
}
.sepeticidevametvealisverisitamamlabutonu:hover{
	width: 100%;
	height: 35px;
	margin : 0;
	padding: 5px 0px 5px 0px;
	background: #f5770a;
	color: white;
	border: 1px solid #FF9900;
	outline: none;
	text-align: center;
	font-weight: bold;
	font-size: 18px;
	text-decoration: none;
	cursor: pointer;
}
.AlisverisiTamamlaButonu{
	width: 100%;
	height: 50px;
	margin: 0;
	padding: 10px 0px 10px 0px;
	background: #FF9900;
	color: white;
	border: 1px solid #FF9900;
	border-radius: 3px;
	outline: none;
	text-align: center;
	font-weight: bold;
	text-decoration: none;
	
}
.AlisverisiTamamlaButonu:hover{
	color: black;
	cursor: pointer;
	text-decoration: none;
}